*{
    list-style: none;
}
.userInfo{
    background-color: #20B2AA;
}
.mui-table-view-cell{
    display: flex;
}
.loginout{
    margin-left: 10px!important;
}
.userInfo_header{
    width: 100vw;
    height: 56px;
    background-color: #fff;
}
.header_right{
    /* padding-right: 30px; */
}
.header_right ul{
    display: flex;
    padding: 0 30px 0 100px;
    justify-content: space-between;
}
.header_right ul li{
    justify-content: center;
}
.userInfo_header>div{
    flex: 1;
}
.weibo{
    text-align: right;
    padding-left: 30px;
}
.searchBox{
    display: flex;
    float: right;
    text-align: right;
}
.searchBox>div{
    flex: 1;
    line-height: 56px;
    font-size: 26px;
}
.searchIcon{
    left: 0px;
    z-index: 30;
}
.searchBg{
    border-radius: 25px;
    background-color: #ccc;
}
.center_menu{
    display: flex;
    margin-top: 10px;
    padding: 0;
    justify-content: space-between;
}
.center_menu li{
    flex: 1;
    margin: 0 5px;
    text-align: center;
}
.center_menu a{
    color: #20B2AA;
}
.center_menu li:hover{
    background-color: #efefef;
}

.bottomActive{
    border-bottom: 2px solid white;
}

.right_menu{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.right_menu li{
    width: 40px;
    margin: 0 5px;
    text-align: center;
}
.right_menu svg{
    color: #20B2AA;
}
.right_menu li:hover{
    background-color: #efefef;
}



.userInfo_content{
    display: flex;
    width: 100%;
    padding-top: 10px;
}
.userInfo_content>div{
    flex: 2;
    width: 100%;
    text-align: right;
}
.userInfo_content>div:first-child{
    flex: 1;
    padding-right: 10px;
}
.userInfo_content>div:last-child{
    flex: 1;
    text-align: right;
}
.left_slider{
    width: 200px;
    overflow:hidden;
    min-height: calc(100vh - 100px);
    float: right;
    background-color: #fff;
}
.left_slider a,.left_slider span,.left_slider svg {
    color: #20B2AA!important;
}

.userInfoCenterBg{
    width: 100%;
    height: 260px;
    background: url('../img/userBg.png');
    background-position-y: 60%;
}


.userInfo_Center_user{
    display: flex;
    /* height: 80px; */
    width: 100%;
    background-color: #fff;
}
.userInfo_Center_user>div{
    width: 130px;
    position: relative;
}
.userInfo_logo{
    position: absolute;
    left: 30px;
    top: -40px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 80px;
}
.userInfo_logo img{
    width: 80px;
    height: 80px;
}
.userName{
    margin: 6px 0;
    font-weight: 700;
    text-align: left;
}
.fense{
    text-align: left;
}
.infoKey{
    color: #999;
    margin: 0 4px;
}
.infoVal{
    color: #000;
}
.userDesc{
    width: 100%;
    background-color: #fff;
}
.userDesc p{
    padding-left: 30px;
    font-size: 14px;
    color: #939393;
    text-align: left;
}
.userInfo_tab{
    width: 100%;
    background-color: #fff;
}
.tabs>div>div{
    justify-content: space-around;
}
.userInfo_tab_Content{
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
}
.userInfo_tab_Content li{
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}
.tab_content{
    text-align: center;
}