.container{
    width: 1000px;
    margin: 0 auto;
}
.bg-dep{
    background-color: #624c38;
    color: #ffffff;
}
.top-nav{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    background-color: #624c38;
    padding: 10px 0;
    padding-bottom: 0;
}
.top-header-info{
	 width: 1000px;
    margin: 30px auto 0;
	background:url(../img/bg_01.png) no-repeat center;
	background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
}
.action-btn{
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.nickname{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}
.bg-origne{
    background-color: #f76e27;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
}
.origen-1{
    padding: 10px 30px;
}
.bg-brow{
    background-color: #666b75;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
}
.brow-1{
    padding: 10px 30px;
}
.add{
    width: 18px;
    height: 18px;
}
.common{
    font-size: 10px;
    color: #ffffff;
}
.action-btn{
    display: flex;
}
.head-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.tabs{
    width: 500px;
    display: flex;
    justify-content: space-between;
    color: #d8c7b4;
    font-weight: bold;
}
.u-line{
    border-bottom: 3px solid #f7691d;
    padding-bottom: 10px;
}
.main-content{
    display: flex;
    width: 1000px;
    margin: 0 auto;
   
}
.personal-body{
    background-image: url('../img/bg.jpg');
}
.left-tab{
    width: 330px;
    height: 800px;
    /* border: 1px solid green; */
    margin-right: 30px;
}

.left_content{
    width: 630px;
}
.top-fans{
    background-color: #624c38;
    margin-bottom: 30px;
    height:60px;
    display: flex;
    padding: 10px 0;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.item-fans{
    width: 100px;
    text-align: center;
    color: #b6a089;
    font-size: 12px;
}
.num{
    font-weight: bold;
    color: #d8c7b4;
    font-size: 18px;
}
.personal-info{
    /* height: 300px; */
    background-color: #624c38;
    color: #d8c7b4;
    /* padding: 10px; */
    font-size: 14px;
    /* border:1px solid red */
}
.personal-info-top{
    padding:10px;
    border-bottom: 1px solid #453321;
}
.renzheng{
    width: 90px;
    height: 28px;
    color:#ffffff;
    background-color: orange;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mtop8{
    margin-top: 8px;
}
.mlr8{
    margin: 0 12px;
}
.personal-info-item{
    display: flex;
    align-items: center;
}
.personal-info-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.guanzhu-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fans-list{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}