<!DOCTYPE html>
<html>
{% load static %}

<head>

    <link rel="stylesheet" href="{% static "css/common.css" %}">

</head>

<body>
<h1>PostList</h1>
<ul>
    {% for i in serializer %}

           <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>Weibo<img style="margin-left: 10px;" src="./img/v7.png" alt=""></h3>
                        <p class="weibo_time">from Weibo weibo.com</p>
                        <p class="weibo_content">
                            {{i.content}}<span
                                class="activeColor">@Dragon</span>
                            <span class="activeColor">#XXXX#</span>，Record your life。 ​​​​</p>
                        <div class="imgbox">
                            <img src="./img/999/1.png" alt="">
                        </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>


    {% endfor %}
<!--    <li>-->
<!--        {{serializer.content}}-->
<!--    </li>-->
</ul>
</body></html>