<!DOCTYPE html>
{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>index</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="{% static"css/common.css" %}">
    
</head>

<body>
    <div class="header">
        <div class="header_content">
            <div class="logo"><a href="index.html">Weibo</a></div>
            <div class="search">
                <input type="text" class="search_input" placeholder="Everyone is searching: #XXXX">
                <input type="text" class="search_btn" readonly="true">
            </div>
            <ul class="header_operate">
                <li><a href="#" class="li_1">massage</a></li>
                <li><a href="#" class="li_2">setting</a></li>
                <li><a href="#" class="li_3">post a post</a></li>
            </ul>
            <ul class="header_nav">
                <li>
                    <a class="li_home li_home_pos " href="index.html">
                        Homepage
					
                        <span class="dian"></span>
                    </a>
                </li>

                <li><a class="li_user" href="index.html">Account</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <div class="left_sidebar">
                <ul class="nav">
                    <li class="nav_pos">
                        <a href="#" class="nav_common nav_bold">
                            Home
                            <span class="dian1"></span>
                        </a>
                    </li>
                    <li><a class="nav_common nav_bold" href="#">Inbox</a></li>
                    <li><a class="nav_common nav_bold" href="#">Follows</a></li>
					<li><a class="nav_common nav_bold" href="#">Followers</a></li>
                    <li class="nav_line"></li><a href="#">







                </ul>
            </div>
            <div class="left_content">
                <div class="release">
                    <div class="release_top">
                        <div class="release_text">What do you want to share with everyone？</div>

                    </div>
                    <div class="release_main">
                        <textarea></textarea>
                    </div>
                    <div class="release_choise">
                        <ul class="release_choise_text">
                            <li class="release_choise_member"><a class="btn_expre" href="#">Emoji</a></li>
                            <li class="release_choise_member"><a class="btn_img" href="#">Image</a></li>
                            <li class="release_choise_member"><a class="btn_video" href="#">Video</a></li>
                            <li class="release_choise_member"><a class="btn_topic" href="#">topic</a></li>
                            <li class="release_choise_member"><a class="btn_hot" href="#">Headlines</a></li>
                            <li class="release_choise_member"><a class="btn_more" href="#"></a></li>
                        </ul>
                      <div class="release_button">
<input type="button" class="u_release_btn" value="Post">
                        </div>
                    </div>
                </div>
                <div class="classify">
                    <ul class="classes">
                        <li class="choosed class_text"><a href="#">All</a></li>
                        <li class="class_text"><a href="#">Original</a></li>
                        <li class="class_text"><a href="#">Image</a></li>
                        <li class="class_text"><a href="#">Video</a></li>
                        <li class="class_text"><a href="#">Music</a></li>
                        <li class="class_text"><a href="#">Article</a></li>
                    </ul>
                    <div class="search">
                        <input class="search_text" type="text" placeholder="search for the keyword">
                        <input class="search_button" type="text" readonly="true">
                        <input class="search_more" type="text">
                    </div>
                </div>

                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>Weibo<img style="margin-left: 10px;" src="./img/v7.png" alt=""></h3>
                        <p class="weibo_time">from Weibo weibo.com</p>
                        <p class="weibo_content">
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXrelease_buttonXXXXXXX<span
                                class="activeColor">@Dragon</span>
                            <span class="activeColor">#XXXX#</span>，Record your life。 ​​​​</p>
                        <div class="imgbox">
                            <img src="./img/999/1.png" alt="">
                        </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>

                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>Weibo<img style="margin-left: 10px;" src="./img/v7.png" alt=""></h3>
                        <p class="weibo_time">from Weibo weibo.com</p>
                        <p class="weibo_content">
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。
                            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<span
                                class="activeColor">@Dragon</span>
                            <span class="activeColor">#XXXX#</span>，Record your life。 ​​​​</p>
                        <div class="imgbox">
                            <img src="./img/999/1.png" alt="">
                        </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>Movie<img style="margin-left: 10px;" src="./img/5/5.png" alt=""></h3>
                        <p class="weibo_time">Recommended from Weibo weibo.com</p>
                        <p class="weibo_content">
                            xxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx。<span
                                class="activeColor">@movie</span>
                            <span class="activeColor">#XXXX#</span>，Record your life。 ​​​​</p>
                        <div class="imgbox">
                            <img src="./img/999/4.png" alt="">
                        </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>Movie<img style="margin-left: 10px;" src="./img/5/5.png" alt=""></h3>
                        <p class="weibo_time">Recommended from Weibo weibo.com</p>
                        <p class="weibo_content">
                            xxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx。<span
                                class="activeColor">@movie</span>
                            <span class="activeColor">#XXXX#</span>，Record your life。 ​​​​</p>
                        <div class="imgbox">
                            <img src="./img/999/4.png" alt="">
                        </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>



                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                      <h3>Bill</h3>
                        <p class="weibo_time">Recommended from Weibo weibo.com</p>
                        <p class="weibo_content">Delicious fruit cake<span class="activeColor">@Dragon </span><span
                                class="activeColor">#food#</span></p>
                        <div class="weibo_video">
                            <video controls src="./img/2/2.mp4">
                          </video>
                      </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                      <h3>Bill</h3>
                        <p class="weibo_time">Recommended from Weibo weibo.com</p>
                        <p class="weibo_content">Delicious fruit cake<span class="activeColor">@Dragon </span><span
                                class="activeColor">#food#</span></p>
                        <div class="weibo_video">
                            <video controls src="./img/2/2.mp4">
                          </video>
                      </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>Alex</h3>
                        <p class="weibo_time">22mins ago from iPhone 13 Pro Max</p>
                        <p class="weibo_content">
                            <span class="activeColor">#record your life ​​​​</span>
                        </p>
                        <div class="imgbox">
                            <img src="./img/5/4.jpg" alt="">
                        </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/1/head1.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>Dragon</h3>
                        <p class="weibo_time">Today 09:43 from iPhone 13 Pro</p>
                        <p class="weibo_content">
                            xxxxxxxxxxxxxxxxxxx
							xxxxxxxxxxxxxx
                            ​​​​</p>
                        <div class="imgboxall">
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                            <div class="imgboxallItem">
                                <img src="./img/5/4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="weibo">
                    <div class="weibo_icon">
                        <img src="./img/7/head7.jpg" class="weibo_usericon">
                    </div>
                    <div class="weibo_text">
                        <h3>谢娜</h3>
                        <p class="weibo_time">22mins ago from iPhone 13 Pro Max</p>
                        <p class="weibo_content">
                            <span class="activeColor">#xxxxx#</span> xxxxxxxxxxxxxxxxxxxx
                        </p>

                    </div>
                    <div class="weibo_operator">
                        <ul class="weibo_button">
                            <li><a class="repost" href="#">Share</a></li>
                            <li><a class="review" href="#">Commont</a></li>
                            <li class="last"><a class="good" href="#">Follow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="readmore">
                    <a href="#">More</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="usercard">
                <img src="img/userbackground.png" class="background">
                <a href="./personal.html"><img src="img/user_icon.jpg" class="user_info_icon"></a>
                <h3>Alton</h3>
                <ul class="userinfo">
                    <li><a href="#"><strong>315</strong>Follow</a></li>
                    <li><a href="#"><strong>649</strong>Followers</a></li>
                    <li class="last"><a href="#" class="last_a"><strong>17</strong>Posts</a></li>
                </ul>
            </div>
            <div class="songlist">
                <div class="songlist_head">
                    <h4>Background Music</h4>
                   
                </div>
                <ul class="list">
                    <li class="first">
				<div class="list_content">

                            
                            
                      </div>
                  </li>
                    <li class="songlist_other">
                        <span>lalaldemaxiya</span>
                        <img src="img/play.png">
                    </li>
                    <li class="songlist_other last">
                        <span class="thirdspan">wuwuwudemaxiya</span>
                        <img src="img/play.png">
                    </li>
                </ul>

            </div>


            </div>
        </div>
    </div>
</body>

</html>